* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  border: solid;
  height: 200px;
  display: flex;
  width: 100%;
}

header > .profilePic {
  width: 20%;
  border: solid;
}

header > .details {
  width: 80%;
  border: solid;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

main > .data {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

main > .friends {
  width: 25%;
}

main > .data > * {
  border: solid;
  flex-grow: 1;
}

.pokemon {
  display: flex;
  align-items: center;
}

footer {
  border: solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > button {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid;
  background-color: aquamarine;
}
