* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  height: 200px;
  display: flex;
  width: 100%;
  background-color: rgb(84, 127, 181);
}

header > .profilePic {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .profilePic > img {
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  width: 180px;
  height: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header > .details {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: white;
}

header > .details > .name {
  font-size: 40px;
  font-weight: bold;
}

header > .details > .address {
  font-size: 30px;
}

main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

main > .data {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

main > .friends {
  width: 25%;
  background-color: rgb(234, 242, 240);
  padding-left: 20px;
  padding-right: 20px;
}

main > .friends > .friendsTitle {
  font-size: 30px;
  font-weight: 700;
  border-bottom: solid;
  margin-bottom: 20px;
  padding-top: 30px;
}

main > .friends > .friendsList {
  list-style: none;
}

main > .friends > .friendsList > li {
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
  font-size: 28px;
  font-weight: 400;
}

main > .data > * {
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.pokemon {
  display: flex;
  align-items: center;
}

footer {
  border: solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > button {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid;
  background-color: aquamarine;
}
